@media (max-width:991px) {
    /* =============== banner section start =============== */

.Loan-banner-section {
    .banner-img-section {
        .swiper-slide {
            min-height: 90vh;
            .img-box-1{
                position: absolute;
                left: 0px;
            }
        }


    }
}

/* =============== banner section End =============== */
}